input[type='file'] {
    color: rgba(0, 0, 0, 0);
  }

  .container {
    max-width: 500px;
  }
  
  .box {
    display: inline-block;
    width: calc(20% - 10px);
    height: 100px;
    margin-right: 10px;
  }
  
  