@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  #container {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  #container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  #container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  #item {
    /* margin: 0; */
    /* padding: 20px 0; */
    /* text-align: center; */
    scroll-snap-align: start;
    /* height: 300px; */
  }

  #loader {
    height: 50px;
    display: flex;
    background: #eee;
    justify-content: center;
  }
}
